.headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  padding-top: 8px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
}

.versus {
  height: 0px;
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
}
