.headers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200%;
  padding-top: 8px;
  position: relative;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
}

.versus {
  cursor: pointer;
  flex: 0 0 auto !important;
}

.versus:hover {
  outline: 1px solid rgba(128, 128, 128, 0.5);
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  width: 100%;
  flex-wrap: wrap;
}

.players > * {
  flex: 1 1 250px;
}

.versus + .players {
  flex-wrap: nowrap;
  max-width: 600px;
}
