@media (max-width: 540px) {
  .songSearch {
    max-width: calc(100vw - 3em);
    left: 1.5em !important;
  }
}

.editAuthor {
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-size: 0.85em;
  opacity: 0.7;
}
