.pnp.*
.yarn/*
.env
.room-state/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

dist
node_modules
server/.build/
/*.zip
scripts/scraping/textage/**
scripts/scraping/sanbai/**
