.cardLabel {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  right: 0.5em;
  text-shadow: none;
}

.cardLabel.winner {
  top: unset;
  bottom: 0.5em;
}

.cardLabel > span {
  border: 2px solid white;
  border-radius: 0.5em;
}
