.iconMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  cursor: default;
}

.iconRow {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.centerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.iconColumn p {
  margin-top: 0;
}
