@import url("https://fonts.googleapis.com/css?family=Russo+One");

.chart {
  display: flex !important;
  flex: 1 0 0;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  flex-direction: column;
  min-height: 200px;
  color: white;
  text-shadow: 0px 0px 10px black, 1px 1px 1px black;
  font-family: Evogria, "Russo One", Arial, "Helvetica Neue", Helvetica,
    sans-serif;
  -webkit-tap-highlight-color: transparent;
  margin: 5px;
  word-wrap: break-word;
  overflow: hidden;
  transition: transform ease 0.3s;
  position: relative;
  min-width: 165px;
}

.chart.clickable {
  cursor: pointer;
}

.clickTarget {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.cardCenter {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  font-size: 120%;
}
.nameTranslation {
  font-size: 75%;
}

.cardFooter {
  flex: 0 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 80%;
  padding: 5px;
  align-items: flex-end;
  border-top: 1px solid black;
}

.shockBadge {
  background-color: white;
  border: 1px solid black;
  padding: 1px;
  border-radius: 50%;
  height: 1em;
  min-width: 1em;
}

.difficulty {
  text-transform: uppercase;
}

.vetoed {
  opacity: 0.8;
  transform: scale(0.9);
  transform-origin: center;
  filter: grayscale(75%);
  border-color: red;
  box-shadow: 0px 0px 5px red;
}

.protected {
  border-color: green;
  box-shadow: 0px 0px 5px green;
}

.replaced {
  border-color: cornflowerblue;
  box-shadow: 0px 0px 5px cornflowerblue;
}
