.listContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.listContainer h2 {
  font-size: 1.1rem;
  margin-block: 0.3em;
}

.actionButtons {
  float: right;
}

.listContainer p {
  margin-bottom: 0;
}
