.form {
  padding: 1em 1.5em;
  overflow-y: auto;
}

.form label {
  user-select: none;
}

.showAllToggle {
  margin-bottom: 0;
}

.inlineControls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.inlineControls > * {
  margin-right: 25px;
}

.narrowInput {
  width: 100px;
}
