.drawer {
  padding: 1em 1.5em;
  overflow-y: auto;
}

.drawer label {
  user-select: none;
}

.inlineControls {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.inlineControls .inlineControls {
  margin-bottom: 0;
}

.inlineControls > div {
  margin-right: 25px;
}

.smallText button {
  font-size: 8pt !important;
}

.plus {
  margin-top: 30px;
  margin-left: -23px;
  margin-right: 1px;
}

.narrowInput {
  width: 110px;
}

/* remove native styling on number type inputs */
input[type="number"] {
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}
