.weights {
  margin: 0 1em;
}

.weights sub {
  font-size: 70%;
}

.weights .level {
  width: 6.5em;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 0.7em;
  text-align: center;
  white-space: nowrap;
}
