.about {
  padding: 2em;
}

.icons {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
}

.icons li {
  flex: 0 0 auto;
  display: inline-block;
}

.icons a:any-link {
  color: black;
}
