html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  position: absolute;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

h1 {
  padding-left: 10px;
}

.padded {
  padding: 10px;
}

.padded button {
  height: 25px;
  line-height: 0px;
}

a:any-link {
  color: blue;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea,
button {
  font-size: 16px;
} /* avoid iOS auto-zoom */
