html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  position: absolute;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.25rem;
}

h1 {
  padding-left: 1em;
}

img{
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.container {
  min-height: 100%;
  width: 100%;
}

.inner {
  display: table;
  max-width: 85em;
  margin: auto;
}

.padded {
  padding: 2em;
}

.updateBanner {
  background-color: #ff6666;
  padding: 1em;
  text-align: center;
}
