body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}

h1 {
  padding-left: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.padded {
  padding: 10px;
}
