.drawings {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}

.scrollable {
  flex: 1 0 0;
  overflow: auto;
}

.chartList {
  display: flex;
  padding: 10px;
}

.scrollable .chartList {
  opacity: 0.5;
}
