.chartList {
  display: flex;
  padding: 10px;
  overflow: hidden;
  flex-wrap: wrap;
}

.drawing {
  position: relative;
}

.drawing[data-focused] {
  outline: 2px inset red;
  outline-offset: -2px;
}

body:global(.obs-layer) .drawing {
  background-image: none !important;
}
