.chartList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10em);
  grid-template-rows: repeat(auto-fill, 10em);
  grid-gap: 1vw;
  min-height: 11em;
}

.chartList:not(:first-child) {
  border-top: 5px solid darkgrey;
}
