.drawings {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  padding-left: 0 10px;
  font-family: Evogria;
}

.scrollable {
  flex: 1 0 0;
  overflow: auto;
}

.sectionLabel {
  text-indent: 10px;
}
