.drawings {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.empty {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  justify-content: center;
}

.scrollable {
  flex: 1 0 0;
  overflow-y: auto;
}

@media (min-width: 1025px) {
  .scrollable {
    overflow: auto;
    min-height: 12em;
  }
}

.chartList {
  display: flex;
  padding: 10px;
  overflow: hidden;
  flex-wrap: wrap;
}

.sectionLabel {
  text-indent: 10px;
}
