.icon {
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  opacity: 0.8;
  outline: 2px solid currentColor;
}
