<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta property="og:site_name" content="DDR.tools" />
    <meta property="og:title" content="DDR Tools - card draw and more!" />
    <meta
      property="og:description"
      content="Tools for music game tournaments and training"
    />
    <meta
      property="og:image"
      content="/favicons/apple-touch-icon-144x144.png"
    />
    <meta name="theme-color" content="#28b6ea" />
    <title>DDR Tools - card draw and more!</title>
    <script
      async
      src="https://umami.joah.nohost.me/script.js"
      data-website-id="24ba3eac-eb34-4783-aa35-5822940e494a"
      data-domains="ddr.tools"
    ></script>
  </head>
  <body></body>
</html>
