<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta property="og:site_name" content="DDR.tools" />
    <meta property="og:title" content="Red Note SMX Card Draw" />
    <meta
      property="og:description"
      content="Custom card draw for Red Note SMX Teaser Tournament"
    />
    <meta
      property="og:image"
      content="/favicons/apple-touch-icon-144x144.png"
    />
    <meta name="theme-color" content="#d12f25" />
    <title>Red Note SMX Card Draw</title>
  </head>
  <body></body>
</html>
