.modalBackdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}

.modalContents {
  background-color: white;
  min-height: 90vh;
  width: 90vw;
  margin: 0 auto;
  position: relative;
}

.close {
  position: absolute;
  font-size: 18px;
  top: 0.5em;
  right: 0.5em;
}
