.suggestion {
  padding: 0.5em;
  display: flex;
  flex-direction: row;
}
.suggestion:hover {
  background-color: lightgray;
}
.suggestion:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.suggestion.clickable {
  cursor: pointer;
}

.img {
  height: 50px;
  margin-left: 0;
  margin-right: 0.25em;
}

.title {
  flex-grow: 1;
}
