name: Checks

on:
  pull_request:
    branches: [main]

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - check: "validate:json"
            name: Validate Song Data
          - check: "validate:types:ts"
            name: Typecheck
          - check: "validate:format"
            name: Formatting
          - check: "validate:lint"
            name: Linter
          - check: webpack
            name: Build
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 22
          cache: "yarn"
      - run: yarn --immutable
      - name: ${{ matrix.name }}
        run: yarn ${{ matrix.check }}
