name: Checks

on:
  pull_request:
    branches: [main]

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - check: "validate:json"
            name: Validate Song Data
          - check: "validate:ts"
            name: Typecheck
          - check: "validate:format"
            name: Formatting
          - check: "validate:lint"
            name: Linter
          - check: webpack
            name: Build
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 24
          cache: "yarn"
      - run: yarn --immutable
      - name: ${{ matrix.name }}
        run: yarn ${{ matrix.check }}
