name: Checks

on:
  pull_request:
    branches: [main]

jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - check: "validate:json"
            name: Validate Song Data
          - check: "validate:ts"
            name: Typecheck
          - check: "validate:format"
            name: Formatting
          - check: "validate:lint"
            name: Linter
          - check: webpack
            name: Build
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 22
          cache: "yarn"
      - run: yarn --immutable
      - name: ${{ matrix.name }}
        run: yarn ${{ matrix.check }}
